{% extends 'base.html' %}}

{% block title %}Contact`s Book List{% endblock %}

{% block content %}
    <!-- Left section: Contacts Table -->
    <div class="contacts-table">
        <h2 class="text-center">Contacts</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>

            <form id="search2" action="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </form>

            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>
                        <img src="{{ contact.photo.url }}" alt="Contact`s photo" width="50">
                    </td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.phone_number }}</td>
                    <td>{{ contact.email }}</td>
                </tr>
                {% endfor %}
<!--                <tr>-->
<!--                    <td>John Doe</td>-->
<!--                    <td>+123456789</td>-->
<!--                    <td>johndoe@example.com</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Jane Smith</td>-->
<!--                    <td>+987654321</td>-->
<!--                    <td>janesmith@example.com</td>-->
<!--                </tr>-->
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    <!-- Right section: Action Buttons -->
    <div class="action-buttons">
        <a href="{% url 'add_contact' %}" class="btn btn-1">New Contact</a>
        <a href="#" class="btn btn-2">Edit Contact</a>
        <a href="#" class="btn btn-3">Delete Contact</a>
        <a href="#" class="btn btn-4">About Contact</a>
        <a href="#" class="btn btn-5">Display</a>
    </div>

{% endblock %}